<div class="container">
    <h1>Estudiante</h1>

    <a class="btn btn-outline-success btn-sm" [routerLink]="[ '/student-save' ]">Crear</a>
    <br>

    <table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>FullName</td>
        <td>EnrollmentDate</td>
        <td></td>
    </tr>
    <tr *ngFor="let item of students">
        <td>{{ item.ID}}</td>
        <td>{{ item.FullName}}</td>
        <td>{{ item.EnrollmentDate}}</td>
        <td>
            <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/student-edit', item.ID ]">Editar</a>
            <a class="btn btn-sm btn-outline-danger" [routerLink]="[ '/student-delete', item.ID ]">Eliminar</a>
            </div>  
        </td>
    </tr>
</table>
</div>