<div class="container">
    <h2>Eliminar departamento</h2>

    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger col-md-12" role="alert">
            ¿Estás seguro?
            <br>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-danger btn-sm" (click)="delete()">Eliminar</button>
                <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/department-list']">Volver </a>
            </div>
        </div>
    </div>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
            <br>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/department-list']">Volver </a>
        </div>
    </div>

    <form #courseForms="ngForm" *ngIf="department">

        <div class="form-row">
            <div class="col-md-4">
                <label>DepartmentID:</label>
                <input type="number" id="DepartmentID" name="DepartmentID" placeholder="Ingresa el ID"
                    class="form-control" #departmentID [(ngModel)]="department.DepartmentID"/>
            </div>
            <div class="col-md-4">
                <label>Name:</label>
                <input type="text" id="Name" name="Name" placeholder="Ingresa el nombre" class="form-control"
                    [(ngModel)]="department.Name"/>
            </div>
            <div class="col-md-4">
                <label>Budget:</label>
                <input type="number" id="Budget" name="Budget" placeholder="Ingresa el Budget" class="form-control"
                    [(ngModel)]="department.Budget" />
            </div>
            <div class="col-md-4">
                <label>StartDate:</label>
                <input type="date" id="StartDate" name="StartDate" placeholder="Ingresa la fecha de inicio" class="form-control"
                    [(ngModel)]="department.StartDate" />
            </div>
            <div class="col-md-4">
                <label>InstructorID:</label>
                <input type="number" id="InstructorID" name="InstructorID" placeholder="Ingresa el ID del instructor" class="form-control"
                    [(ngModel)]="department.InstructorID" />
            </div>
        </div>

    </form>

</div>