<div class="container">
    <h2>Editar estudiante</h2>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
          {{msg}}
        </div>
      </div>

    <form #courseForms="ngForm" *ngIf="student">
        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="number" id="ID" name="ID" placeholder="Ingresa el ID"
                    class="form-control" #ID [(ngModel)]="student.ID" readonly/>
            </div>
            <div class="col-md-4">
                <label>LastName:</label>
                <input type="text" id="LastName" name="LastName" placeholder="Ingresa el apellido" class="form-control"
                    [(ngModel)]="student.LastName"/>
            </div>
            <div class="col-md-4">
                <label>FirstMidName:</label>
                <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Ingresa el nombre" class="form-control"
                    [(ngModel)]="student.FirstMidName"/>
            </div>
            <div class="col-md-4">
                <label>EnrollmentDate:</label>
                <input type="date" id="EnrollmentDate" name="EnrollmentDate" placeholder="Ingresa fecha de inscripción" class="form-control"
                    [(ngModel)]="student.EnrollmentDate" />
            </div>
        </div>

        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn.sm" (click)="edit()">Guardar</button>
            <a class="btn btn-outline-primary btn.sm" [routerLink]="[ '/student-list']">Volver </a>
        </div>

    </form>

</div>